body {
    font-family: Arial;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #5ae3bc;
}

.box {
    background: white;
    padding: 20px;
    width: 350px;
    border-radius: 10px;
    box-shadow: 0 0 10px gray;
}

input {
    width: 90%;
    padding: 10px;
    margin: 8px 0;
}

.p{
    display: flex;
    align-items: end;
    justify-content: flex-end;
    text-align: right;
}
button {
    width: 100%;
    padding: 10px;
    margin-top: 8px;
    cursor: pointer;
}

.login-btn {
    background: green;
    color: white;
    border: none;
}

.open-btn {
    background: gray;
    color: white;
    border: none;
}